html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9d8a6;
}

.grid {
  width: 420px;
  height: 420px;
  border: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: #001219;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.wall {
  background-color: #005f73;
}
.power-pellet {
  background-color: #bb3e03;
  border-radius: 7.5px;
}
.pacman {
  background-color: #ee9b00;
  border-radius: 50%;
  border: none;
}
.blinky {
  background-color: darkred;
  border: none;
}
.pinky {
  background-color: hotpink;
  border: none;
}
.inky {
  background-color: midnightblue;
  border: none;
}
.clyde {
  background-color: purple;
  border: none;
}
