/* google font */
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Audiowide&family=Orbitron&family=Press+Start+2P&family=Roboto:wght@300;900&display=swap");

/* resets */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* typography */
body {
  font-size: 2em;
  text-align: center;
  font-family: "Press Start 2P", monospace;
  background-color: #252525;
  color: #ee9b00;
}

h1,
h3 {
  margin-bottom: 0;
}
h1 {
  margin-top: 0;
}
h3 {
  margin-bottom: 1em;
  color: #fff;
  grid-area: "info-top";
}
.subheader {
  margin-top: 0;
  margin-bottom: 0;
}
/* layout */
body {
  max-width: 75vw;
  margin: 0 auto;
}
header {
  border: 4px dashed #ee9b00;
  padding: 1em;
  margin-top: 0.5em;
}

.grid {
  width: 420px;
  height: 420px;
  border: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: #001219;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.wall {
  background-color: #ff8fa3;
}

.info {
  /* TODO: set max width + add media query to make responsive */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
#score {
  justify-content: left;
}
.msg {
  margin: 0.5em 0;
}
/* general styles */
.power-pellet {
  background-color: #8338ec;
  border-radius: 7.5px;
}
.pacman {
  background-color: #ee9b00;
  border-radius: 50%;
  border: none;
}
.blinky {
  background-color: #660708;
  border: none;
}
.pinky {
  background-color: #ff4d6d;
  border: none;
}
.inky {
  background-color: #3a86ff;
  border: none;
}
.clyde {
  background-color: #fb5607;
  border: none;
}
.scared-ghost {
  background-color: aquamarine;
  border: none;
}
/* button */
button {
  border: none;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 10px 25px;
  margin-top: 1em;
  letter-spacing: 1px;
  background-color: #ff8fa3;
  color: #fff;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}
button:hover,
button:focus {
  background-color: #ffb3c1;
}
@media (max-width: 600px) {
  body {
    font-size: 1.25rem;
    max-width: 80vw;
    min-height: 100vh;
  }
  .subheader {
    margin: 0;
    margin-bottom: -0.5rem;
    font-size: 0.8rem;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    max-width: 80vw;
    font-size: 0.9rem;
  }
}

@media (min-width: 545px) {
  body {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1.2rem;
  }
  .msg {
    margin-top: -0.25em;
  }
}
@media (min-width: 495px) {
  body {
    font-size: 1.3rem;
  }
  .msg {
    margin-top: 0.25rem;
  }
}
