@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Audiowide&family=Orbitron&family=Roboto:wght@300;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Audiowide", monospace;
}

.grid {
  width: 200px;
  height: 200px;
  border: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  background-color: pink;
}
.snake {
  background-color: green;
}
