/* general styles */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #264653;
  font-family: "rubik", sans-serif;
  color: #303030;
  font-size: 1rem;
}

/* typography */
h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
i {
  font-size: 2rem;
}
ul {
  line-height: 2em;
}
/* layout */

img {
  max-width: 100%;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 3em;
  background-color: #eee;
}
.site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__subtitle--greeting {
  order: -1;
  font-size: 1.3125rem;
}
a {
  text-decoration: none;
  color: #303030;
  padding: 0 0.25em;
}
a:focus,
a:hover {
  color: #2a9d8f;
}
.img {
  max-width: 300px;
  display: block;

  object-fit: contain;
}

/* main content */
.container {
  display: grid;
  /* define width of columns */
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  grid-auto-rows: minmax(100px, auto);
  /* align-items: center; */
}
.column-content {
  box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.3),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
/* see divs better */
.container > div {
  background: #eee;
  padding: 1em;
}
/* every div will have a different shade */
.container > div:nth-child(odd) {
  background: #ddd;
}
.container > div:nth-child(2n) {
  background-color: #303030;
}
.tally-icon {
  color: aquamarine;
}

.container > div:nth-child(3) {
  background-color: #2a9d8f;
}

.container > div:nth-child(4) {
  background-color: #e9c46a;
}
.container > div:nth-child(5) {
  background-color: #5390d9;
}
.container > div:nth-child(7) {
  background-color: #ff8fa3;
}
.container > div:nth-child(8) {
  background-color: #2a9d8f;
}
.nested {
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 125px;
  grid-gap: 1em;
  align-self: center;
}

.nested > div {
  padding: 1em;
}
.box-2 i {
  font-size: 3.5rem;
}
.box-2 {
  color: aquamarine;
  font-size: 2.5rem;
}
.box-3 i {
  font-size: 3rem;
}
.box-3 {
  display: grid;
}
/* column content */

.box-5 {
  background-color: #e9c46a;
  /* color: #fcbf49; */
}
.box-6 {
  color: #fff;
}

.box-8 {
  background-color: #2a9d8f;
}

/* footer */
footer {
  background-color: #e9c46a;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}
footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 1em;
  justify-content: center;
}
